.logo {
    height: 32px;
    margin: 16px;
    background: white;
  }
  .site-layout .site-layout-background {
    background: rgb(230, 223, 223);
  }
    [data-theme="dark"] .site-layout .site-layout-background {
      background: #e4e9e3;
    }