@media (min-width: 600px){
    .css-cuefkz-MuiContainer-root {
        max-width: 600px;
  }
}
.css-cuefkz-MuiContainer-root {
    width: 100%;
    margin-left: 300px !important;
    box-sizing: border-box;
    margin-right: 3px !important;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
}
.css-zc48g6 {
    background-color: #cfe8fc;
    /* margin-top: 10px !important; */
    height: 95vh !important;
    width: 1250px !important;
}
 